
.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 25px;
    font-weight: 500;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    border-radius: 2px;
}